@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

.navbar-nav .nav-item.active .nav-link {
    color: blue !important;
    font-weight: bold;
}

.custom-login-link {
    color: #007bff !important; /* Azul padrão do Bootstrap */
    border-color: #007bff !important;
}

.custom-login-link:hover {
    color: white !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.jumbotron {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
}

#search-jobs {
    /* background-color: #28a745; */
    border-color: #28a745;
}

#search-jobs:hover {
    background-color: #243f8a;
    border-color: #1e7e34;
}

.card-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.skeleton-text {
    height: 1.2rem;
    background: linear-gradient(90deg, #f0f0f0 25%, #cfcfcf 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
}

.skeleton .card-body {
    display: block;
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}

.bg-light {
    background-color: #f1f1f1 !important;
}


footer {
    background-color: #222;
}
