@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

.nav-item.active{
    color: yellow;
    font-weight: bold;
}

.jumbotron {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
}

#search-jobs {
    background-color: #28a745;
    border-color: #28a745;
}

#search-jobs:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.card-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background-color: #222;
}
